:root {
	--wgreen: #3cba54;
	--wyellow: #f4c20d;
	--wred: #db3236;
	--wblue: #4885ed;
}

html, body {
	font-size: 18pt;
    height: 100%;
    font-family: monospace;
    background-color: black;
    color: white;
    margin: 0px;
    overflow: hidden;
}

#editor {
    width: calc(35% - 4px);
    height: calc(100% - 4px);
    border: 2px solid white;
    padding: 0px;
    margin: 0px;
    float: left;
}

#menu {
    width: 15%;
    height: calc(100% - 4px);
    border: 2px solid white;
    padding: 0px;
    margin: 0px;
    float: left;
}

#registers {
	width: 100%;
    height: 28%;
    border: 2px solid white;
	border-collapse: collapse;
	table-layout: fixed;
	padding: 0px;
	margin: 0px;
}

#registers td {
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	font-size: 1.8vw;
}

#cpu {
    width: calc(50% - 4px);
    height: 100%;
    border: 2px solid white;
    padding: 0px;
    margin: 0px;
    color: white;
    float: right;
	border-collapse: collapse;
	table-layout: fixed;
}

#help {
    width: calc(50% - 4px);
	height: 100%;
    border: 2px solid white;
    color: white;
    padding: 0px;
    margin: 0px;
    float: right;
	border-collapse: collapse;
	table-layout: fixed;
}

#help-info {
	font-size: 1.5vw;
}

#help-button {
	background-color: var(--wgreen);
	user-select: none;
	cursor: pointer;
}

.help-coloumn {
	float: left; 
	margin: 0px; 
	padding: 0px;
	width: calc(100% / 3 - 2px); 
	height: 100%; 
	overflow-y: hidden;
	overflow-x: hidden;
}

.menu-button {
	width: 100%;
	height: 18%;
	padding: 0px;
	margin: 0px;
	border: 2px solid white;
	text-align: center;
	font-size: 5vmin;
    font-family: monospace;
    background-color: black;
    color: white;
	font-weight: bold;
	cursor: pointer;
}

.cell {
    border: 2px solid white;
    padding: 0px;
	margin: 0px;
	width: calc(100% / 9);
	text-align: center;
	font-size: 2vmin;
}

.description {
	font-size: 1vw;
}

.data-mov .arithmetic .control .bitwise {
	font-size: 2vw;
}

.data-mov {
	color: var(--wblue);
}

.arithmetic {
	color: var(--wred);
}

.control {
	color: var(--wyellow);
}

.bitwise {
	color: var(--wgreen);
}

hr {
	border-color: white;
}


#PC_Cursor {
	background-color: var(--wblue);
}

#SP_Cursor {
	background-color: var(--wyellow);
}

.active-line {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}
